<p id="notice"><%= notice %></p>


<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 centered">
		  <h1><%= @region.name %></h1>
		  <br>
	  </div>
	</div>
	
	<% @region.places.each do |p| %>
	  <div class="row">
		  <div class="col-md-12 show-region">
		  	<div class="row">
		  		<div class="col-md-8 show-description">
				  	<strong><%= p.city %></strong>
				  	<br>
						<%= truncate(p.description,:length => 140)  %>
					</div>
					<div class="col-md-2 col-md-offset-2">
						<div clas="flag-wrapper">
				  		<img src="../assets/flags/1X1/<%= p.country.image_url %>" class="img-circle flag">
				  	</div>
				  </div>
				</div>
				<div class="row">
					<div class="col-md-3">
					<%= link_to "See More", p, :class => "btn btn-default" %>
					</div>
				</div>
		  </div>
	  </div>
	  <br>
  <% end %>

  <% if @region.places.empty? %>
  <div class="row region-empty-row">
  	<div class="col-md-12 centered">
  		<h3 class="">It looks like no places in <%= @region.name %> have been recommended by fellow nomads.
  		<br>
  		If you've stayed somewhere cool, <strong>
  		<%= link_to "tell us about it!", new_place_path, class: "new-place-link" %></strong></h3>
  	</div>
  </div>
  <% end %>


</div>



