<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :internet_speed %><br>
    <%= f.select :internet_speed, [['<10mbps','<10mbpst'],['10mbps-30mbps','10mbps-30mbps'],['>30mbps','>30mbps']] %>
  </div>
  <div class="field">
    <%= f.label :is_this_a_short_term_rental_? %><br>
    <%= f.select :short_term_rental, [['Yes','Yes'],['No','No']] %>
  </div>
  <div class="field">
    <%= f.label :level_of_noise %><br>
    <%= f.select :level_of_noise, [['Great','Great'],['Okay','Okay'],['Bad','Bad']] %>
  </div>
  <div class="field">
    <%= f.label :walkability %><br>
    <%= f.select :walkability, [['Great','Great'],['Okay','Okay'],['Bad','Bad']] %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.select :food, [['Kitchen','Kitchen'],['Supermarkets','Supermarkets'],['Restaurants','Restaurants'], ['All','All']] %>
  </div>
  <div class="field">
    <%= f.label :ac_or_heater %><br>
    <%= f.select :ac_heater, [['AC and Heating','Ac and Heating'],['Only AC','Only Ac'],['Only Heating','Only Heating'],['None','None'],['Other','Other']] %>
  </div>
  <div class="field">
    <%= f.label :link_to_book_this_place %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
