<style>
  .fa-wifi, .fa-suitcase, .fa-street-view, .fa-bullhorn {
    color: #CDDC39;
    font-size: 40px;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container show">

  <div class="row second-row">
    <br>
    <div class="col-md-12 centered">
      <h3 class="show-title"><%= @place.city %>, <%= @place.country.name %></h3>
    </div>
  </div>

  <div class="row first-row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 centered sq">
          <br>
          <i class="fa fa-wifi"></i>
          <h4 class="text-sq-2">Internet Speed </h4>
          <h3 class="text-sq-1"> <%= @place.internet_speed %></h3>
        </div>
        <div class="col-md-5 col-md-offset-1 centered sq">
          <br>
          <i class="fa fa-suitcase"></i>
          <h4 class="text-sq-2">Short Term Rental </h4>
          <h3 class="text-sq-1"> <%= @place.short_term_rental %></h3>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-5 col-md-offset-1 centered sq">
          <br>
          <i class="fa fa-street-view"></i>
          <h4 class="text-sq-2">Walkability </h4>
          <h3 class="text-sq-1"> <%= @place.walkability%></h3>
        </div>
        <div class="col-md-5 col-md-offset-1 centered  sq">
          <br>
          <i class="fa fa-bullhorn"></i>
          <h4 class="text-sq-2">Level of Noise </h4>
          <h3 class="text-sq-1"> <%= @place.level_of_noise %></h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 centered">
      <br>
      <h5 class="show-description"><%= @place.description %></h5>
      <br> <h4 class="text-sq-1"><a href="<%= @place.link %>" target="_blank">Book This Place</h4></p>
    </div>
  </div>
  
</div>

