<!DOCTYPE html>
<html>
<head>
  <title>NomadApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<body>

  <!-- Static navbar -->
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="../assets/NomadAppLogo.png" style="height: 35px;">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", regions_path %></li>
          <li><%= link_to "Create New Place", new_place_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
<%= yield %>
 


  <div class ="footer">
    <div class="row">
      <div class="col-md-8 col-md-offset-3">
        <p class="footer-text">I made this Rails app! Right now it doesn't have much, but I'll be adding more and more places that are great for digital nomads.</p>
      </div>
    </div>
  </div>


</body>
</html>
